html {
    --main-bg-color: #0066CC;
    --message-color: white;
    --message-friend-color: black;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 45%;
    margin-top: 34px;
    font-family: 'Montserrat';
    font-weight: 400;
    max-width: 575px;
    min-height: 100%;
}

.imageAndText {
    display: flex;
}

.imageAndText img {
    width: 3rem;
    height: 3rem;
    order: 2;

}

.text {
    font-family: 'Montserrat';
    max-width: 25.875rem;
    text-align: right;
    order: 1;
    padding-right: 10px;
    background-color: var(--main-bg-color);
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 10px 10px 0 10px;
    margin-right: 10px;
    position: relative;
    margin-top: -10px;
}

.text:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    right: -25px;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom: 10px solid var(--main-bg-color);
    border-left: 10px solid var(--main-bg-color);
    border-width: 12px 10px 0 17px;
}

.name {
    font-size: 1.125rem;
    color: var(--message-color);
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 3px;
    text-align: right;
}

.messageText {
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 0.8rem;
    color: var(--message-color);;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 13px;
    margin-right: 100px;

}

.time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 0.625rem;
    line-height: 0.75rem;
    color: var(--message-friend-color);
    margin-top: 5px;
    margin-right: 10px;
}