html {
    --main-friend-bg-color: #F5F7FB;;
    --message-color: white;
    --message-friend-color: black;
    --basic-size: 10px;
}

.friendMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 34px;
    font-family: 'Montserrat';
    font-weight: 400;
    max-width: calc(5.75*var(--basic-size));
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    width: calc(4.8*var(--basic-size));
    height: calc(4.8*var(--basic-size));
}

.friendText {
    font-family: 'Montserrat';
    max-width: calc(41.4*var(--basic-size));
    text-align: left;
    order: 1;
    left: 10px;
    background-color: var(--main-friend-bg-color);
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 0px rgba(29, 33, 38, 0.1);
    border-radius: 10px 10px 10px 0px;
    margin-right: 10px;
    margin-top: -10px;
    position: relative;
}

.friendText:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    left: -17px;
    bottom: 0px;
    box-shadow: 0px 1px 0px rgba(29, 33, 38, 0.1);
    border: 10px solid transparent;
    border-bottom: 10px solid var(--main-friend-bg-color);
    border-right: 10px solid var(--main-friend-bg-color);
    border-width: 12px 0px 10px 17px;

}

.friendName {
    font-size: calc(1.8*var(--basic-size));
    color: var(--message-friend-color);
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 3px;
    margin-left: 10px;
}

.friendMessageText {
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 0.8rem;
    color: var(--message-friend-color);
    font-size: 1rem;
    font-weight: 400;
    margin-left: 13px;
    margin-bottom: 13px;
    margin-right: 100px;
}

.friendTime {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 0.625rem;
    line-height: 0.75rem;
    color: var(--message-friend-color);
    margin-top: 5px;
    margin-left: 10px;
}
